/*** Generales ***/
body {
    padding: 0;
    margin: 0;
    font-family: "Nunito", sans-serif;
}
h1, h2, p, img {
    margin: 0;
}
p {
    font-size: 16px;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    color: white;
}
#imagen {
    width: 200px;
    height: auto;
}
/*** Header ***/
.banner {
    background-color: blueviolet;
    filter: drop-shadow(0px 6px 4px #717171);
    background-image: url(../img/fondo.png);
}
/*** Main ***/
.seccion_contenido {
    background-color: bisque;
    background-image: url(../img/fondo.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.seccion_titulo h2 {
    filter: drop-shadow(0px 6px 4px #717171);
}
.seccion_titulo sup {
    font-size: 14px;
}
.card {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    max-width: 500px;
    min-height: 750px;
    background-color: beige;
    filter: drop-shadow(0px 6px 4px #717171);
}
.card-img {
    width: 200px;
    height: 300px
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.card_boton {
    background-color: blueviolet;
    border: none;
    max-width: 200px;
    cursor: pointer;
    align-self: center;
    margin-top: auto;
}
.card_boton:hover {
    background-color: #a96be3;
}
/*** Footer ***/
.footer {
    background-color: blueviolet;
    background-image: url(../img/fondo.png);
    filter: drop-shadow(4px 0px 6px #717171);
}
